@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.dark-bg {
  min-height: 100vh;
  background-color: darkslategray;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box {
  width: 60vw;
  min-height: 90vh;
  background-color: whitesmoke;
  border-radius: 4px;
}

.input-style {
  display: flex;
  flex-direction: column;
}
label {
  color: #ff5252;
  font-size: 0.7rem;
  margin-bottom: 4px;
  font-weight: 600;
}
input,
textarea {
  border: none;
  background-color: rgb(243, 243, 243);
  color: black;
  padding: 6px 16px;
  border-bottom: 1.5px solid #c0c0c0;
}

input:focus,
textarea:focus {
  border-bottom: 1.5px solid #ff5252;
  outline: none;
}

.btn-submit {
  background-color: #ff5252;
  color: #fff;
  font-weight: 600;
  padding: 8px 32px;
  border-radius: 20px;
  border: none;
  outline: none;
}
